{% extends 'base.html' %}

{% block title %} Employee Create {% endblock %}

{% block header %}{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div div class="col-md">
            <h5 style="text-align: center;">Customers</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="">Filter</a>
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Steet Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>Weekly Pickup Date</th>
                        <th>Confirm Pickup</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}