{% extends 'base.html' %}

{% block title %} Schedule Pickup {% endblock %}

{% block header %} Schedule Pickup  {% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}  
    {{ form.as_p }}
    <input type="submit" name="submit" value="Submit">
    </form>

<script>
    $(function () {
    $("#id_weekly_pickup_date").datepicker({
        format:'mm-dd-yyyy',
    });
    });
 </script>

<script>
    $(function () {
    $("#id_extra_pickup_date").datepicker({
        format:'mm-dd-yyyy',
    });
    });
</script>

{% endblock %}