{% extends 'base.html' %}

{% block title %} Change Pickup Day {% endblock %}

{% block header %} Change Pickup Day {% endblock %}

{% block content %}
<form action="{% url 'customers:edit' %}" method="post"> 
    {% csrf_token %}  
    Change Weekly Pickup Date: <input type="date" name='weekly_pickup_date' id='weekly_pickup_date'><br />
    Select or Change Extra Pickup Date (optional): <input type="date" name='extra_pickup_date' id='extra_pickup_date'><br />
<input type="submit" value="Confirm"><br />
<a class="btn btn-sm btn-danger" href="{% url 'customers:index' %}">Exit</a>
</form>
{% endblock %}